.form {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 10px;
  border: 2px solid darkslategray;
  padding: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.label {
  font-size: 1.5rem;
    padding: 5px;
}

.input {
  font-size: 1.5rem;
  padding: 5px;
}

.btn {
  font-size: 1.5rem;
    padding: 5px;
}

.left {
  grid-column: 1/2;
}

.right {
  grid-column: 2/3;
}

.fullWidth {
  grid-column: 1/3;
}
